---
layout: default
---
<div id="lead" class="col-sm-12">
  <p class="lead">
    MOD/L is a team that enhances existing capabilities, creates progressive new solutions, and fosters experimentation and innovation across <a href="http://www.markit.com/Product/Markit-On-Demand" target="_blank">Markit On Demand</a>. We recognize that innovation is as much the creation of original ideas as it is the recognition and dissemination of existing concepts and methods within our broader organization. MOD/L aims to inform the working methods of MOD teams and to recognize creative and innovative work from those teams as it happens.
  </p>
  <p class="lead twitter"><a href="https://twitter.com/mod_labs" target="_blank"><i class="icon-twitter icon-large"></i> <span>Follow us on Twitter</span></a></p>
</div>
<div class="row">
  <div class="col-lg-12 visible-lg sectionheader" id="projects-articles">&nbsp;</div>
  <div class="col-md-7">

    <div id="services">

      <h4>Services</h4><div class="clearfix"></div>

      <h2>F2 Training Services</h2>
      <div class="black-module">
        <p></p>
      </div>

      <h2>F2 Development Services</h2>
      <div class="black-module">
        <p>Apps and Containers</p>
      </div>

      <h2>Agile Training Services</h2>
      <div class="black-module">
        <p></p>
      </div>

      <h2>Rapid Prototyping</h2>
      <div class="black-module">
        <p></p>
      </div>
    </div>

    <div id="projects">
      <h4>Focus Areas</h4><div class="clearfix"></div>

      <h2>Gestural Computing</h2>
      <div class="black-module">
        <p></p>
        <p><a href="{{site.url}}/articles/gestural/"></a></p>
      </div>

      <h2>Speech Recognition and Text to Speech</h2>
      <div class="black-module">
        <p></p>
        <p><a href="{{site.url}}/articles/speechrec/"></a></p>
      </div>

      <h2>Wearables</h2>
      <div class="black-module">
        <p></p>
        <p><a href="{{site.url}}/articles/wearables/"></a></p>
      </div>

      <h2>Adapative Project Methodologies</h2>
      <div class="black-module">
        <p></p>
        <p><a href="{{site.url}}/articles/agile/"></a></p>
      </div>

      <h2>App Stores</h2>
      <div class="black-module">
        <p></p>
        <p><a href="{{site.url}}/articles/appstores/"></a></p>
      </div>

      <h2>Open Data</h2>
      <div class="black-module">
        <p></p>
        <p><a href="{{site.url}}/articles/opendata/"></a></p>
      </div>

      <h2>Data Visualization</h2>
      <div class="black-module">
        <img src="{{site.url}}/images/dataviz.png" class="img-responsive" />
        <p>Led by our talented designers, MOD/L is working on new financial data visualizations, with the goal of improving user engagement with this complicated data and making it more accessible to a wider range of users.</p>
      </div>

     
      <h4>Past Projects</h4><div class="clearfix"></div>

      <h2>Next-Gen Interactive Charting</h2>
      <div class="black-module">
        <a href="{{site.url}}/articles/charting/"><img src="{{site.url}}/images/next_gen_charting.png" class="img-responsive" /></a>
        <p>MOD/L developed a new way of charting financial data, which will be rolling out in Q4 2014 to customers.</p>
        <p><a href="{{site.url}}/articles/charting/">Read more in the &ldquo;The Current and Future State of Charting&rdquo; &raquo;</a></p>
      </div>

      <h2>Content Personalization and MIND</h2>
      <div class="black-module">
          <img src="{{site.url}}/images/content_personalization.png" class="img-responsive" title="Content Personalization" />
          <p>MOD/L is working on a capability that will personalize the content and layout presented to a user, based on various attributes of the user&rsquo;s behavior, trading history, and research interests. For example, presenting a user only with the fundamentals and events relevant to their portfolio; creating a trail of their research and news interests, and emphasizing certain datasets or news providers; or presenting a layout and experience that&rsquo;s more relevant to a retirement investor than a day trader.</p>
      </div>

      

      <h2>F2</h2>
      <div class="black-module">
          <a href="http://www.openf2.org" target="_blank"><img src="{{site.url}}/images/F2.png" class="img-responsive" title="F2 - Open Financial Framework" /></a>
          <p><a href="http://www.openf2.org" target="_blank">F2</a> is an open and free web integration framework designed to help the financial services community develop custom web and mobile applications. F2 was the first project to graduate from the MOD/L <a href="{{site.url}}/#jetpack">process</a>, and continues to be managed by the MOD/L team on <a href="https://github.com/OpenF2/F2" target="_blank">GitHub</a>. To date in 2013, we have <a href="https://github.com/OpenF2/F2/releases" target="_blank">released almost a dozen versions of F2</a>, providing additional documentation and bolstering functionality. MOD/L continues receive feedback from the F2 community, and those recommendations are shaping the <a href="https://github.com/OpenF2/F2/wiki/Roadmap" target="_blank">F2 roadmap</a>.</p>
          <p>Read more on <a href="http://www.openf2.org" target="_blank">OpenF2.org</a> and follow <a href="https://twitter.com/OpenF2" target="_blank">@OpenF2</a> on Twitter.</p>
      </div>

    </div>
    
  </div>

  <div class="col-md-5 right-rail" id="twitter">

    <h4>@mod_labs on Twitter</h4><div class="clearfix"></div>
    <div class="twitterWidget black-module">
      <a class="twitter-timeline" href="https://twitter.com/mod_labs" data-widget-id="450104629460606976" data-chrome="noheader transparent">Tweets by @mod_labs</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

  </div>
  <div class="col-md-5 right-rail" id="articles">

    <h4>Articles</h4><div class="clearfix"></div>

    <ul class="posts list-group">
      {% for post in site.posts %}
        {% if forloop.index <= 20 %}
        <li class="list-group-item">
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <span class="meta">{{ post.date | date_to_string }}</span>
          <p>{{ post.excerpt | markdownify }}</p>
       </li>
       {% endif %}
      {% endfor %}
    </ul>

    <!--<a href="#" class="btn btn-default"><i class="icon-align-left"></i> Read all articles</a>--> <a href="{{site.url}}/rss.xml" class="btn btn-default"><i class="icon-rss"></i> RSS</a> <a href="#" class="btn btn-default"><i class="icon-chevron-sign-up"></i> Top</a>






  </div>
</div><!--/row-->
<div class="row hidden">
  <div class="col-md-12 sectionheader" id="jetpack">&nbsp;</div>
  <div class="col-md-12 jetpackContent">
    <h4>Innovation Methodology</h4><div class="clearfix"></div>
    <h2>Do What You Want Day &amp; Jetpack</h2>
    <div class="black-module col-md-12">
      <div class="row">
        <div class="col-md-3 col-md-push-8 visible-lg">
          <img src="{{site.url}}/images/jetpack_logo_250.png" class="jetpack-img" />
        </div>
        <div class="col-lg-8 col-lg-pull-3">
          <p>In 2011, MOD started doing something we call <a href="/dwywd/2012/12/12/do-what-you-want-day/">Do What You Want Day</a> (DWYWD), inspired by other organizations&rsquo; hackathons, <a href="https://www.atlassian.com/company/about/shipit" target="_blank">ShipIt Days</a> and even Google&rsquo;s own 20% time. The basic idea: work on whatever you want for a day. We&rsquo;ve now run 5 of these events in our Boulder offices, and several others in our Dallas, New York, and Noida offices, to great success.</p>
          <div class="visible-xs visible-sm visible-md pull-right jetpack-img"><img src="{{site.url}}/images/jetpack_logo_250.png" class="" /></div>
          <p>Jetpack is a program to help any MOD employee take an idea from napkin sketch to full production implementation for a client in as short a time as possible.  It arose out of our employees asking what to do with the really good DWYWD projects after they&rsquo;re over, as well as our team&rsquo;s passion to take great ideas, and make them real.</p>
          <p>The Jetpack process itself is quite simple:</p>
          <ul>
            <li>Make It Work (<span class="char-code">&alpha;</span>lpha)</li>
            <li>Make Sure It&rsquo;s A Good Idea(<span class="char-code">&beta;</span>eta)</li>
            <li><strong>!</strong> Live</li>
          </ul>
          <p>The framework is intended to provide visibility, support and feedback, encourage lateral skills development, and ultimately, launch the best ideas MOD has to offer. Correspondingly, it outlines a means to stop an idea when it is not viable or is failing for any number of reasons, and it is the intent of this framework to make it safe for ideas and projects in this environment to fail; it is also the intent to help ensure success for projects that are going well.</p>
        </div>
      </div>
    </div><!--/black-module-->
  </div><!--/jetpackContent-->
</div><!--/row-->
  <script type="text/javascript">_waq.push(['_trackPageView', {category:'Main', name:'Index', label:'Index'}]);</script>