<!DOCTYPE html>
<html>
  <head>
    <title>MOD/L | Markit On Demand Labs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{site.url}}/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="{{site.url}}/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="{{site.url}}/stylesheets/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <link rel="icon" href="/favicon.png" type="image/x-icon">
    <script src="//use.typekit.net/gzg5jgf.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <script src="{{site.url}}/javascripts/html5shiv.js"></script>
    <!--[if IE]><script src="{{site.url}}/javascripts/respond.js"></script><![endif]-->
    <meta name="google-site-verification" content="koj1ru9iskitCqlVk5EpQY-CxRInLcYQ2euJ_1Bq-rA" />
  </head>
  <body data-spy="scroll" data-target=".navbar">
    <div class="gradient-wrapper"></div>
    <div class="container page-wrapper">
      <a href="{{site.url}}/" class="img-logo"><img src="/images/dodecahedron_logo.png" class="img-responsive" alt="MOD/L - Markit On Demand Labs" /></a>
      <nav class="navbar row" role="navigation" id="navbar">    
        <ul class="nav navbar-nav">
          <li class="nav-img"><a href="{{site.url}}/index2/" class="hide"><img src="{{site.url}}/images/dodecahedron_logo_nav.png" class"img-responsive" /></a></li>
          <li class="visible-md visible-lg"><a href="{{site.url}}/index2/#projects-articles">Projects &amp; Articles</a></li>
          <li class="visible-xs visible-sm"><a href="{{site.url}}/index2/#projects">Projects</a></li>
          <li class="visible-xs visible-sm"><a href="{{site.url}}/index2/#articles">Articles</a></li>
          <li><a href="{{site.url}}/index2/#jetpack">Jetpack</a></li>
          <li class="visible-md visible-lg"><a href="https://twitter.com/mod_labs" target="_blank"><i class="icon-twitter icon-large"></i></a></li>
        </ul>
      </nav> 

      {{ content }}

      <div class="row">
        <footer class="col-md-12 clearfix">
          <div class="pull-left">
            <!--<span>CONTACT US</span>-->
            <a href="https://twitter.com/mod_labs" target="_blank" class="btn btn-default"><i class="icon-twitter icon-large"></i> @mod_labs</a>
            <a href="https://github.com/modl" target="_blank" class="btn btn-default"><i class="icon-github icon-large"></i> MOD/L on GitHub</a>
            <a href="https://github.com/markitondemand" target="_blank" class="btn btn-default"><i class="icon-github icon-large"></i> MOD on GitHub</a>
            <a href="https://github.com/OpenF2/F2" target="_blank" class="btn btn-default"><i class="icon-github icon-large"></i> F2 on GitHub</a>
            <!--<a href="mailto:modl@markit.com" class="btn btn-default"><i class="icon-envelope icon-large"></i> modl@markit.com</a>-->
          </div>
          <div class="pull-right"><p class="copy">&copy; 2013 Markit On Demand, Inc. All Rights Reserved.</p></div>
        </footer>
      </div>
    </div><!--/container-->

  <script src="{{site.url}}/javascripts/require.js" data-main="{{site.url}}/javascripts/main"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-29467710-4', 'modl.github.io');
  ga('send', 'pageview');
  </script>
</body>
</html>