---
layout: default
---
<div class="row postContainer">
	<div class="col-lg-9">	
		<a href="{{site.url}}/" class="xhidden-sm hidden-xs">&laquo; Back </a><br/><br/>
		<div class="post">
			<h2>{{ page.title }}</h2>
			<p class="meta">{{ page.date | date_to_string }} &mdash; By {{page.author}}</p>
			<div class="black-module post">
				{{ content }}
				<br>
				<br>
				<ul class="list-inline tags">
					<li class="leading">Tags:</li>
			      {% for tag in page.tags %}
			        <li>
			          {{tag}}
			       </li>
			      {% endfor %}
			    </ul>
			</div>
		</div>
	</div>
</div>