---
layout: default
---
<div class="row postContainer">
	<div class="col-lg-9">	
		<a href="{{site.url}}/" class="xhidden-sm hidden-xs">&laquo; Back </a><br/><br/>
		<div class="post">
			<h2>{{ page.title }}</h2>
			<p class="meta">{{ page.date | date_to_string }} &mdash; By 
				{% for author in page.author %}
					{{author}}{% if forloop.index < forloop.length %},&nbsp;{% endif %}
				{% endfor %} 
				{% if page.twitter_handle %}<span class="twitter_handle">
				(
					{% for handle in page.twitter_handle %}
						<a href="https://twitter.com/{{handle}}" target="_blank">@{{handle}}</a>{% if forloop.index < forloop.length %},{% endif %}
					{% endfor %}
				)
				{% endif %}</p>
			<div class="black-module post">
				{{ content }}
				<br>
				<br>
				<ul class="list-inline tags">
					<li class="leading">Tags:</li>
			      {% for tag in page.tags %}
			        <li>
			          {{tag}}
			       </li>
			      {% endfor %}
			    </ul>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">_waq.push(['_trackPageView', {category:'Post', name:'{{page.title}}', label:'{{page.title}}'}]);</script>